<html ng-app="app">
<head>
        <script type="text/javascript">

    var myWebSocket;


    function connectToWS() {
        var endpoint = document.getElementById("endpoint").value;
        if (myWebSocket !== undefined) {
            myWebSocket.close()
        }

        myWebSocket = new WebSocket(endpoint);

        myWebSocket.onmessage = function (event) {
            var leng;
            if (event.data.size === undefined) {
                leng = event.data.length
            } else {
                leng = event.data.size
            }
            document.getElementById("wsAnswer").innerHTML += "<p>" + event.data + "</p>"
            console.log("onmessage. size: " + leng + ", content: " + event.data);
        }

        myWebSocket.onopen = function (evt) {
            document.getElementById("wsAnswer").innerHTML += "<p>OPEN!!!</p>"

            console.log("onopen.");
        };

        myWebSocket.onclose = function (evt) {
            document.getElementById("wsAnswer").innerHTML += "<p>CLOSE!!!</p>"
            console.log("onclose.");
        };

        myWebSocket.onerror = function (evt) {
            document.getElementById("wsAnswer").innerHTML += "<p>ERROR</p>"
            console.log("Error!");
        };
    }


    function closeConn() {
        myWebSocket.close();
    }

    </script>
    </head>
    <body>

        <form>
        connection to: <input type="text" id="endpoint" name="endpoint" value="ws://localhost:9000/wsWeatherIntervals" style="width: 200px" >
            <br>
    </form>

        <input type="button" onclick="connectToWS()" value="connect to WebSocket endpoint" />
        <br>
        <br>

        <input type="button" onclick="closeConn()" value="Close connection" />

        <div id="wsAnswer">


        </div>
    </body>
</html>